@page
@model Goron_Melisa_Proiect_Medii.Pages.Teme.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tema.ID" />
            <div class="form-group">
                <label asp-for="Tema.Titlu" class="control-label"></label>
                <input asp-for="Tema.Titlu" class="form-control" />
                <span asp-validation-for="Tema.Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tema.Elev" class="control-label"></label>
                <input asp-for="Tema.Elev" class="form-control" />
                <span asp-validation-for="Tema.Elev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tema.DataPublicarii" class="control-label"></label>
                <input asp-for="Tema.DataPublicarii" class="form-control" />
                <span asp-validation-for="Tema.DataPublicarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tema.ClasaID" class="control-label">Nume Clasa</label>
                <select asp-for="Tema.ClasaID" class="form-control" asp-items="ViewBag.ClasaID">
                </select>
                <span asp-validation-for="Tema.ClasaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var div in Model.ListaDisciplineAtribuite)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="disciplineSelectate"
                                               value="@div.DisciplinaID"
                                               @(Html.Raw(div.Assigned ? "checked=\"checked\"" : "")) />
                                        @div.DisciplinaID @: @div.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
